<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление нового товара</title>
</head>
<body>
<h3>Добавить товар</h3>
<form th:method="POST" th:action="@{/admin/product/add}" th:object="${product}" enctype="multipart/form-data">
    <label for="title">Введите наименование товара: </label>
    <input type="text" th:field="*{title}" placeholder="Название" id="title">
    <div style="color: darkred" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
    <br>
    <br>
    <label for="description">Введите описние товара: </label>
    <textarea th:field="*{description}" placeholder="Описание" id="description"></textarea>
    <div style="color: darkred" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
    <br>
    <br>
    <label for="price">Введите цену товара: </label>
    <input type="number" th:field="*{price}" min="1" step="0.00" placeholder="Цена" id="price">
    <div style="color: darkred" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
    <br>
    <br>
    <label for="warehouse">Введите склад: </label>
    <input type="text" th:field="*{warehouse}"  placeholder="Склад" id="warehouse">
    <div style="color: darkred" th:if="${#fields.hasErrors('warehouse')}" th:errors="*{warehouse}"></div>
    <br>
    <br>
    <label for="category">Выберите жанр</label>
    <select name="category" th:field="*{category}" id="category">
    <div th:each="element : ${category}">
        <option th:text="${element.getName()}" th:value="${element.getId()}">
    </div>
    </select>
    <div style="color: darkred" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>
    <br>
    <br>
      <label for="seller">Введите данные продавца</label>
      <textarea th:field="*{seller}" placeholder="Продавец" id="seller"></textarea>
    <div style="color: darkred" th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}"></div>
    <br>
    <br>
      <p style="color: darkred">Максимальное число фотографий-5.Раздел фотографий не может быть пустым!</p>
    <input type="file" name="file_one">
    <br>
    <input type="file" name="file_two">
    <br>
    <input type="file" name="file_three">
    <br>
    <input type="file" name="file_four">
    <br>
    <input type="file" name="file_five">
    <br>
    <br>
    <input type="submit" value="Добавить">
</form>
</body>
</html>