<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корзина товаров</title>
</head>
<body>
<h2>Корзина товаров</h2>
<div th:each="product : ${cart_product}">
    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
    <br>
    <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
    <a th:href="@{/cart/delete/{id}(id=${product.getId()})}">Удалить товар</a>
    <hr>
</div>
<h3>Ваш заказ</h3>
<h2 th:text="'Итого: ' + ${price}"></h2>
<a href="/order/create">Оформить заказ</a>
</body>
</html>